*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	
	align-items: center;

}
.header{
	width: 100%;
	background-color: dimgrey;
	height: 120px;
}
.logo img{
	height: 50px;
}
nav a{
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	font-style: oblique;
	padding-right: 50px;
}
nav{
	word-spacing: space;
	width: 75%;
	float: right;
	justify-content: space-between;

}
nav a:hover{
	padding: 20px;
	background-color: lightblue;
}
.login input{
	border: none;
    width: 5rem;
    height: 2.5rem;
    background-color: skyblue;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    float: right;
}
h1{
	color: seagreen;
	font-size: 2.5rem;
}
.intro{
	padding: 10px 20px;
}
.homepic img{
	padding: 30px;
	height: 500px;
	width: 50%;

}
h2{
	color: maroon;
	font-size: 1rem;
	padding: 20px;

}
p{
	font-style: oblique;
	align-items: center;

}
.head{
	font-size: 2rem;
	color: royalblue;
}
.mail{
	font-size: 1rem;
}
.gallery {
	margin-left: 10px;
	width: 30%;

}
